---
import Hamburger from './Hamburger.astro';
const { class: className, ...rest } = Astro.props;
const navItems = [
	{ label: 'Sample Item', href: '#main-content' },
	{ label: 'Sample Item 2', href: '#main-content' },
	{ label: 'Sample Item 3', href: '#main-content' },
	{ label: 'Sample Item 4', href: '#main-content' },
	{ label: 'Sample Item 5', href: '#main-content' },
];
---

<nav class={className} {...rest}>
	<div class="nav-wrapper">
		<div class="nav-bar-mobile">
			<div class="nav-group-logo">
				<slot name="logo" />
			</div><div class="invisible-hamburger">
				<Hamburger />
			</div>
		</div>
		<button id="menu-toggle" class="btn" aria-controls="menu-main-group" aria-expanded="false">
			<Hamburger />
			<span class="menu-toggle-text visually-hidden">Menu</span></button
		>
		<div class="nav-group-main nav-mobile-hidden" id="menu-main-group">
			<div class="nav-links-group" id="menu-links-group">
				{
					navItems.map((item) => (
						<a
							data-astro-prefetch
							href={item.href}
							class:list={['nav-item', item.href === '' && 'nav-item-inactive']}
						>
							{item.label}
						</a>
					))
				}
			</div>
		</div>
	</div>
</nav>

<style>
	nav {
		--size-navbar-padding: 1rem;
		--color-navbar-background: lightblue;
		--color-nav-dropdown-background: lightgreen;
		--color-nav-button-hover: white;
		--nav-desktop-justify: space-between;
		--nav-desktop-width: 800px;
		--nav-desktop-placement: center;

		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
		z-index: 100;
	}
	.nav-wrapper {
		display: flex;
		flex-direction: column;
	}
	.nav-bar-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		position: relative;
		text-align: center;
		overflow-y: auto;
		background-color: var(--color-navbar-background);
		padding: var(--size-navbar-padding);
	}

	.nav-links-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0rem;
		position: absolute;
		background-color: var(--color-nav-dropdown-background);
		width: 100%;
		padding: var(--size-navbar-padding);
	}

	#menu-main-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0rem;
		top: 0;
		left: 0;
		overflow-y: auto;
		z-index: 10;
		transform: none;
		transition: all 0.3s;
	}

	#menu-toggle[aria-expanded='false'] + #menu-main-group {
		display: none;
		opacity: 0;
	}
	#menu-toggle[aria-expanded='true'] + #menu-main-group,
	#menu-toggle + #menu-main-group:focus-within {
		display: flex;
		opacity: 1;
	}

	#menu-toggle,
	.invisible-hamburger {
		z-index: 50;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0.5em;
		background-color: transparent;
		border: none;
	}
	#menu-toggle:hover,
	#menu-toggle:focus {
		background-color: var(--color-nav-button-hover);
	}
	.invisible-hamburger {
		visibility: hidden;
	}

	#menu-toggle {
		position: absolute;
		top: var(--size-navbar-padding);
		right: var(--size-navbar-padding);
	}

	.menu-toggle-icon {
		font-size: 1.5rem;
	}
	.menu-toggle-text {
	}

	.nav-item {
		padding: 1rem 2rem;
		text-decoration: none;
		font-size: 1.5rem;
	}
	.nav-group-contribute {
		margin-top: 1rem;
	}

	.nav-group-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media screen and (min-width: 900px) {
		nav {
			border-bottom: none;
			display: flex;
			flex-direction: row;
			justify-content: var(--nav-desktop-placement);
			background-color: var(--color-navbar-background);
		}
		.nav-wrapper {
			flex-direction: row;
			width: 100%;
			max-width: var(--nav-desktop-width);
			/* background-color: var(--color-navbar-background); */
			justify-content: space-between;
		}
		.nav-item {
			padding: 0;
			font-size: 1rem;
		}

		.nav-group-main {
			flex-grow: 1;
			justify-content: var(--nav-desktop-justify);
		}
		.nav-links-group {
			flex-direction: row;
			gap: 2rem;
			background-color: transparent;
		}
		#menu-toggle[aria-expanded] + #menu-main-group {
			display: flex;
			position: relative;
			flex-direction: row;
			align-items: center;
			gap: 2rem;
			opacity: 1;
		}
		#menu-toggle,
		#menu-close {
			display: none;
		}
	}

	.visually-hidden {
		position: absolute;
		top: -100vh;
	}
</style>

<script type="text/javascript">
	const hideMobileMenu = () => {
		document.querySelector('#menu-toggle')?.setAttribute('aria-expanded', 'false');
	};

	document.querySelector('#menu-toggle')?.addEventListener('click', () => {
		const menuToggle = document.querySelector('#menu-toggle');
		const isExpanded = menuToggle?.getAttribute('aria-expanded') === 'true';
		menuToggle?.setAttribute('aria-expanded', String(!isExpanded));
	});

	window.addEventListener('keyup', (e) => {
		if (e.key === 'Escape') {
			hideMobileMenu();
			document.querySelector('#menu-toggle')?.focus();
		}
	});

	const desktopQuery = window.matchMedia('(min-width: 768px)');
	desktopQuery.addEventListener('change', () => {
		hideMobileMenu();
	});

	// Hide the mobile menu when focus moves outside of it
	document.querySelector('#menu-main-group')?.addEventListener('focusout', (e) => {
		const menu = e.currentTarget;
		const menuButton = document.querySelector('#menu-toggle');
		if (!menu.contains(e.relatedTarget) && !menuButton.contains(e.relatedTarget)) {
			hideMobileMenu();
		}
	});
</script>
